<div class="d-grid" style="background-color:black">
  <div class="col-lg-3">
      <mat-form-field appearance="fill" [formControl]="selected">
        <mat-label>Favorite food</mat-label>
        <mat-select>
          <mat-option value="fashion">fashion</mat-option>
      <mat-option value="beauty" >beauty </mat-option>
      <mat-option value="electronics">electronics</mat-option>
    </mat-select>
    </mat-form-field>

    </div>
  <div class="col-lg-3">

    <button mat-button color="primary" (click)="getAds()">Primary</button>
  </div>
</div>

