<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
      <h2>Fund My Idea (FMI) team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-4">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="assets/images/cristi.jpeg" class="img-responsive" alt=""></figure>
          <h3><a href="https://github.com/CristiGitHub" target="_blank">Lefter Ioan Cristian</a></h3>
          <p>Architect</p>
          <ul class="follow-us clearfix">
            <li><a href="https://www.facebook.com/cristian.ioan.3150" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/cristi_ioan/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="https://www.linkedin.com/in/ioan-cristian-lefter-300481208/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-4">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="assets/images/francesco.jpeg" class="img-responsive" alt=""></figure>
          <h3><a href="https://github.com/FrancescoP1" target="_blank">Petrovici Francesco-Gregorio </a></h3>
          <p>Senior frontend developer</p>
          <ul class="follow-us clearfix">
            <li><a href="https://www.facebook.com/Francesco.Petrovici/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/1337francescogreg/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-4">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="assets/images/bogdan.jpeg" class="img-responsive" alt=""></figure>
          <h3><a href="https://github.com/LSBogdan" target="_blank">Loloț Ștefan-Bogdan </a></h3>
          <p>Senior backend developer</p>
          <ul class="follow-us clearfix">
            <li><a href="https://www.facebook.com/bogdan.lolot" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://www.instagram.com/lsbogdan/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>

    </ul>
    <br>
    <div class="center col-12 col-md-12 col-lg-12" style="align-content: center">
      <iframe width="100%" height="432" src="https://miro.com/app/live-embed/uXjVOtr2tXo=/?moveToViewport=-57836,20363,97673,47946" frameBorder="0" scrolling="no" allowFullScreen align="middle"></iframe>
    </div>
  </div>

</section>

<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Resources</h3>
          <ul>
            <li><a href="/assets/images/carousel/arhitectura.png" target="_blank">Architecture</a></li>
            <li><a href="/assets/images/carousel/um.png" target="_blank">UM</a></li>
            <li><a href="/assets/images/carousel/design.png" target="_blank">Design</a></li>
            <li><a href="/assets/images/carousel/sonarqube.png" target="_blank">SonarQube</a></li>

          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>About</h3>
          <ul>
            <li><a href="https://docs.google.com/document/d/1oQNkvQ5--K42rYb6Y0JdWfZTXTFgn4zWcbq1CZM8tq8/edit?usp=sharing" target="_blank">Documentation</a></li>
            <li><a href="https://docs.google.com/document/d/11w780ghicIlFJEb4eWmOipKGXWuhBvU9E9sKj17U_Kc/edit?usp=sharing" target="_blank">User stories</a></li>
            <li><a href="https://docs.google.com/document/d/1grAK9XYDjhOiIRIpzujo-4yXWe23cvCKOq8yQ-HvZQQ/edit?usp=sharing" target="_blank">Epic stories</a></li>
            <li><a href="https://miro.com/app/board/uXjVOtr2tXo=/" target="_blank">Backlog</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Fund My Idea</h3>
          <p>We empower your goals.</p>
        </div>
        <div class="col item social">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="https://github.com/MdsFMI" target="_blank"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-tasks"></i></a>
          <a href="https://linktr.ee/mdsfmi" target="_blank"><i class="fa fa-link"></i></a>
        </div>
      </div>
      <p class="copyright">Fund My Idea © 2022</p>
    </div>
  </footer>
</div>
